.hero-section{
    border: 2px solid black;
    padding: 20px;
    margin: 50px 24vw;
    text-align: center;
    align-items: center;
    width: 45vw;
    position: relative;
    border-radius: 20px;
}
.hero-flex{
    display: flex;
    justify-content: center;
}