.StartButton{
 
    min-width:9vw;
    min-height: 5vh;
    border-radius: 14px;
    border: none;
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
    background: rgba(41, 57, 116, 0.352);


}

.StartButton:hover{
    filter: brightness(1.7);
    box-shadow: 2px 2px 4px 2px rgba(25, 31, 110, 0.388);
    transform: translateY(-2px);
    transition: all ease-in-out 0.4s;
    cursor: pointer;
}